@import "reset.css";

/*************************************************/
/*
/*
/*					Général
/*
/*
/**************************************************/
h1, h2, h3, h4, h5, h6,
span, input, p, a, button {
	font-family: Raleway, Calibry
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}


/*************************************************/
/*
/*
/*					HEADER
/*
/*
/**************************************************/
#top {
	height: 34px;
	background-color: rgba(0, 0, 0, 0.5);
}