@import "reset.css";

/*************************************************/
/*
/*
/*					Général
/*
/*
/**************************************************/
h1, h2, h3, h4, h5, h6,
span, input, p, a, button, label, select {
	font-family: Raleway, Calibry
}

h1, h2, h3, h4, h5, h6, select, a {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

input[type=submit] {
	cursor: pointer;
}

/*************************************************/
/*
/*
/*					HEADER
/*
/*
/**************************************************/
#top {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color .3s;
	overflow: hidden;
}

#top:hover {
	background-color: rgba(0, 0, 0, 1);
}

#title {
	float: left;
	margin-left: 15%;
	padding: 20px 0;
	color: white;
}

#title h1 {

	font-size: 30px;
}

#log {
	float: right;
	margin-right: 15%;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

#log a {
	display: inline-block;
	width: 150px;
	color: white;
	text-decoration: none;
	padding: 10px 10px;
	background-color: rgba(113, 212, 254, 0.7);
	margin-right: 20px;
	transition: background-color .3s;
	font-size: 14px;
}

#log a:hover {
	background-color: rgba(113, 212, 254, 1);
}

/*************************************************/
/*
/*
/*			Accueil
/*
/*
/**************************************************/
#question, #messageConnexion {
	clear: both;
	width: 100%;
	height : 20%;
	margin-right: 30%;
	margin-top: 50px;
	text-align: center;
}

#messageConnexion {
	display: none;
}

#question a, #messageConnexion a {
	margin: auto;
	display: block;
	width: 25%;
	padding: 20px 30px;
	background-color: rgba(43, 169, 205, 0.5);
	color: white;
	transition: background-color .3s;
}

#question a:hover {
	background-color: rgba(43, 169, 205, 1);
}

#messageConnexion a {
	background-color: rgba(200, 78, 215, 0.5);
	margin-bottom: 20px;
}

#messageConnexion a:hover {
	background-color: rgba(200, 78, 215, 1);
}

/*************************************************/
/*
/*
/*			Formulaire connexion + register
/*
/*
/**************************************************/

#titreForm h1 {
	margin-top: 30px;
	text-align: left;
	font-size: 30px;
	color: black;
	opacity: 0;
	margin-left: 10%;
}


#register, #formulaireLog, #tiny {
	width: 800px;
	margin: auto;
	min-height: 100px;
	overflow: hidden;
	text-align: center;
	background-color: white;
	padding: 30px;
}

#register label, #formulaireLog label {
	clear: both;
	float: left;
	width: 170px;
	margin-top: 20px;
	color: black;
	text-align: left;
	padding: 10px;
}

#register select {
	width: 430px;
	margin-top: 20px;
	padding: 10px;
}

#register input, #formulaireLog input {
	width: 400px;
	margin-top: 20px;
	padding: 10px;
	outline: none;
	transition: box-shadow .3s, text-indent .3s, width .3s;
}

#register input:focus, #formulaireLog input:focus {
	text-indent: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
	width: 500px;
}

#register input[type=submit],
#formulaireLog input[type=submit], 
#tiny input[type=submit] {
	clear: both;
	padding: 10px 30px;
	background-color: rgba(113, 212, 254, 0.7);
	border: 0;
	transition: background-color 0.3s;
	margin: auto;
	margin-top: 100px;
	display: block;
	width: 250px;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
}

#register input[type=submit]:hover,
#formulaireLog input[type=submit]:hover,
#tiny input[type=submit]:hover {
	background-color: rgba(113, 212, 254, 1);
}

#formulaireLog .remember {
	clear: both;
	overflow: hidden;
}

#formulaireLog #remember {
	width: 15px;
}

#register .errorForm,
#formulaireLog .errorForm {
	margin-top: 20px;
	color: black;
}

#formulaireLog .date_creat {
	margin-top: 40px;
	text-align: right;
}

#formulaireLog a {
	display: block;
	text-decoration: none;
	margin-top: 10px;
	padding: 10px 30px;
	background-color: rgba(10, 213, 153, 0.5);
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 0.3s, opacity 0.3s;
	margin-top: 50px;
	color: black;
}

#formulaireLog a:hover {
	background-color: rgba(10, 213, 153, 1);
	opacity: 1;
}

#formulaireLog select {
	width: 430px;
	margin-top: 20px;
	padding: 10px;
}