@import "reset.css";

/*************************************************/
/*
/*
/*					Général
/*
/*
/**************************************************/
h1, h2, h3, h4, h5, h6,
span, input, p, a, button, label {
	font-family: Raleway, Calibry
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}


/*************************************************/
/*
/*
/*					HEADER
/*
/*
/**************************************************/
#top {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color .3s;
	overflow: hidden;
}

#top:hover {
	background-color: rgba(0, 0, 0, 1);
}

#title {
	float: left;
	margin-left: 25%;
	padding: 20px 0;
	color: white;
}

#title h1 {

	font-size: 30px;
}

#log {
	float: right;
	margin-right: 25%;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

#log a {
	display: inline-block;
	width: 150px;
	color: white;
	text-decoration: none;
	padding: 10px 30px;
	background-color: rgba(113, 212, 254, 0.7);
	margin-right: 20px;
	transition: background-color .3s;
}

#log a:hover {
	background-color: rgba(113, 212, 254, 1);
}


/*************************************************/
/*
/*
/*			Formulaire connexion + register
/*
/*
/**************************************************/


#register, #formulaireLog {
	width: 800px;
	margin: auto;
	min-height: 100px;
	overflow: hidden;
	text-align: center;
	background-color: white;
	padding: 100px;
}

#register label, #formulaireLog label {
	float: left;
	width: 170px;
	margin-top: 20px;
	color: black;
	text-align: left;
	padding: 10px;
}

#register select {
	width: 430px;
	margin-top: 20px;
	padding: 10px;
}

#register input, #formulaireLog input {
	width: 400px;
	margin-top: 20px;
	padding: 10px;
	outline: none;
	transition: box-shadow .3s, text-indent .3s, width .3s;
}

#register input:focus, #formulaireLog input:focus {
	text-indent: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
	width: 500px;
}

#register input[type=submit],
#formulaireLog input[type=submit] {
	clear: both;
	padding: 10px 30px;
	background-color: rgba(113, 212, 254, 0.7);
	border: 0;
	transition: background-color 0.3s;
	margin: auto;
	margin-top: 100px;
	display: block;
	width: 250px;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
}

#register input[type=submit]:hover,
#formulaireLog input[type=submit]:hover {
	background-color: rgba(113, 212, 254, 1);
	cursor: pointer;
}

#formulaireLog .remember {
	clear: both;
	overflow: hidden;
}

#formulaireLog #remember {
	width: 15px;
}

#register h1,
#formulaireLog h1 {
	text-align: left;
	font-size: 30px;
	color: black;
	padding-bottom: 100px;
}

#register .errorForm,
#formulaireLog .errorForm {
	margin-top: 20px;
	color: black;
}

#formulaireLog a {
	display: block;
	text-decoration: none;
	margin-top: 10px;
	padding: 10px 30px;
	background-color: rgba(10, 213, 153, 0.5);
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 0.3s, opacity 0.3s;
	margin-top: 50px;
	color: black;
}

#formulaireLog a:hover {
	background-color: rgba(10, 213, 153, 1);
	opacity: 1;
}